openapi: 3.1.0
info:
  title: Google Artifact Registry DockerImages Repositories API
  description: REST API for Google Artifact Registry, a universal package manager for container images, language packages, and OS packages on Google Cloud.
  version: v1
servers:
- url: https://artifactregistry.googleapis.com
security:
- oauth2:
  - https://www.googleapis.com/auth/cloud-platform
tags:
- name: Repositories
paths:
  /v1/{parent}/repositories:
    get:
      summary: List repositories
      operationId: listRepositories
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Repositories response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Repositories
    post:
      summary: Create a repository
      operationId: createRepository
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: string
      - name: repositoryId
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Create response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Repositories
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: View and manage Google Cloud data
x-generated-from: https://cloud.google.com/artifact-registry/docs/reference/rest
x-generated-by: claude-crawl-2026-05-08
