openapi: 3.1.0
info:
  title: Google Artifact Registry API
  description: >-
    REST API for Google Artifact Registry, a universal package manager for
    container images, language packages, and OS packages on Google Cloud.
  version: "v1"
x-generated-from: https://cloud.google.com/artifact-registry/docs/reference/rest
x-generated-by: claude-crawl-2026-05-08
servers:
  - url: https://artifactregistry.googleapis.com
paths:
  /v1/{name}:
    get:
      summary: Get a resource (project settings, location, vpcsc config, operation)
      operationId: getResource
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Resource response
          content:
            application/json:
              schema:
                type: object
    patch:
      summary: Update a resource
      operationId: updateResource
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Update response
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete a resource
      operationId: deleteResource
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Delete response
          content:
            application/json:
              schema:
                type: object
  /v1/{parent}/locations:
    get:
      summary: List supported locations
      operationId: listLocations
      parameters:
        - name: parent
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Locations response
          content:
            application/json:
              schema:
                type: object
  /v1/{parent}/repositories:
    get:
      summary: List repositories
      operationId: listRepositories
      parameters:
        - name: parent
          in: path
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          schema:
            type: integer
        - name: pageToken
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Repositories response
          content:
            application/json:
              schema:
                type: object
    post:
      summary: Create a repository
      operationId: createRepository
      parameters:
        - name: parent
          in: path
          required: true
          schema:
            type: string
        - name: repositoryId
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Create response
          content:
            application/json:
              schema:
                type: object
  /v1/{parent}/packages:
    get:
      summary: List packages in a repository
      operationId: listPackages
      parameters:
        - name: parent
          in: path
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          schema:
            type: integer
        - name: pageToken
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Packages response
          content:
            application/json:
              schema:
                type: object
  /v1/{parent}/versions:
    get:
      summary: List versions of a package
      operationId: listVersions
      parameters:
        - name: parent
          in: path
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          schema:
            type: integer
        - name: pageToken
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Versions response
          content:
            application/json:
              schema:
                type: object
  /v1/{parent}/tags:
    get:
      summary: List tags
      operationId: listTags
      parameters:
        - name: parent
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Tags response
          content:
            application/json:
              schema:
                type: object
    post:
      summary: Create a tag
      operationId: createTag
      parameters:
        - name: parent
          in: path
          required: true
          schema:
            type: string
        - name: tagId
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Create tag response
          content:
            application/json:
              schema:
                type: object
  /v1/{parent}/files:
    get:
      summary: List files in a repository
      operationId: listFiles
      parameters:
        - name: parent
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Files response
          content:
            application/json:
              schema:
                type: object
  /v1/{parent}/dockerImages:
    get:
      summary: List Docker images
      operationId: listDockerImages
      parameters:
        - name: parent
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Docker images response
          content:
            application/json:
              schema:
                type: object
  /v1/{parent}/mavenArtifacts:
    get:
      summary: List Maven artifacts
      operationId: listMavenArtifacts
      parameters:
        - name: parent
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Maven artifacts response
          content:
            application/json:
              schema:
                type: object
  /v1/{parent}/npmPackages:
    get:
      summary: List npm packages
      operationId: listNpmPackages
      parameters:
        - name: parent
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: npm packages response
          content:
            application/json:
              schema:
                type: object
  /v1/{parent}/pythonPackages:
    get:
      summary: List Python packages
      operationId: listPythonPackages
      parameters:
        - name: parent
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Python packages response
          content:
            application/json:
              schema:
                type: object
  /v1/{resource}:setIamPolicy:
    post:
      summary: Set IAM policy on a resource
      operationId: setIamPolicy
      parameters:
        - name: resource
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: IAM policy response
          content:
            application/json:
              schema:
                type: object
  /v1/{resource}:getIamPolicy:
    get:
      summary: Get IAM policy
      operationId: getIamPolicy
      parameters:
        - name: resource
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: IAM policy response
          content:
            application/json:
              schema:
                type: object
  /v1/{resource}:testIamPermissions:
    post:
      summary: Test IAM permissions
      operationId: testIamPermissions
      parameters:
        - name: resource
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Test permissions response
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: View and manage Google Cloud data
security:
  - oauth2:
      - https://www.googleapis.com/auth/cloud-platform
